body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

h1, h2, h3 {
    color: #000000;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #ffffff;
    color: #110e0e;
    padding: 20px 0;
    text-align: left;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #030303;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #000000;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #c8d2d8;
    color: #000000;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }
}